<!-- ezt minden oldal include-olja be -->
<!DOCTYPE HTML>
<html lang="HU"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Oldal címe</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/formstyle.css}" rel="stylesheet" />
    <link th:href="@{/assets/comp_favicon.png}" rel="icon" type="image/x-icon">
    <script src="https://kit.fontawesome.com/3e5a359e4a.js" crossorigin="anonymous"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
</head>
<body>
    <nav th:replace="fragments/_navbar :: navbar"></nav>
    <main>
        <!-- alert-es rész, itt jönnek a különböző hibás és sikeres műveletekről szóló üzenetek, minden oldalnak tudnia kell -->
        <h5 th:text="${succMsg}" class="text-success text-center mt-3"></h5>
        <h5 th:text="${failMsg}" class="text-danger text-center mt-3"></h5>
        <div layout:fragment="content"></div> <!-- ez a változó content rész, ezt töltsék ki az oldalak -->
    </main>
</body>
</html>