<!DOCTYPE html>
<html lang="hu"
      layout:decorate="layouts/layout_main">
<head>
    <meta charset="UTF-8">
    <title>Főoldal</title>
</head>
<body>
   <div layout:fragment="content">
       <!-- termékek kilistázása - mindenki látja -->
       <div class="row my-3 mx-3">
               <div th:each="c : ${computers}" class="card col-md-6 col-lg-4 col-sm-8 me-2">
                   <div class="card-body">
                       <h5 th:text="${c.name}" class="card-title"></h5>
                       <h6 th:text="${c.motherboard}" class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                       <p th:text="${c.ram.name}" class="card-text"></p>
                       <p th:text="${c.processor.name}" class="card-text"></p>
                       <p th:text="${c.videocard.name}" class="card-text"></p>
                       <p th:text="${c.psu.name}" class="card-text"></p>
                       <p th:text="${c.storage.name}" class="card-text"></p>
                       <p th:text="${c.opsystem.name}" class="card-text"></p>
                       <div th:if="${user.role.name == stacker}">
                           <a href="#" class="card-link">Módosít</a>
                           <a href="#" class="card-link">Töröl</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</body>
</html>