<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Oldal neve</title>
</head>
<body>
<h1>Login</h1>
<form name='loginform' action="login" method="POST" th:object="${user}">
    <h3 th:text="${errMessage}" style="color:red;"></h3>
    <table>
        <tr>
            <td>Felhasználóneved:</td>
            <td><input type="text" name="username" id="username" value="kiskutyus73" th:field="*{username}"></td>
        </tr>
        <tr>
            <td>Jelszavad:</td>
            <td><input type="password" name="password" id="password" th:field="*{password}"/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Bejelentkezés"/></td>
        </tr>
    </table>
</form>
</body>
</html>