<!DOCTYPE html>
<html lang="HU"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Oldal címe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/assets/comp_favicon.png}" rel="icon" type="image/x-icon">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
    <nav th:replace="fragments/_navbar :: navbar"></nav>
    <main>
        <h3 th:text="${succMsg}" style="color:green;"></h3>
        <h3 th:text="${errMsg}" style="color:red;"></h3>
        <div layout:fragment="content"></div> <!-- ez a változó content rész -->
    </main>
</body>
<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</html>