<!DOCTYPE html>
<html lang="HU"
      layout:decorate="~{layouts/layout_main}">
<head>
  <title>Bejelentkezés</title>
</head>
<body>
  <div class="wrapper" layout:fragment="content">
    <h3 class="text-center my-3">Profilom</h3>
    <div class="card-body mx-auto">
    <table style="width: 50vw;" class="mx-auto">
      <thead>
        <th scope="col" class="text-center">Felhasználónév</th>
        <th scope="col" class="text-center">E-mail cím</th>
        <th scope="col" class="text-center">Jelszó</th>
      </thead>
      <tbody>
      <tr>
        <td class="text-center"><p th:text="${user.username}"></p></td>
        <td class="text-center"><p th:text="${user.email}"></p></td>
        <td></td>
      </tr>
      <tr>
        <td class="text-center">
          <form th:object="${user}" th:action="@{/profile/modifyName}" method="GET">
            <label for="username" class="d-inline" style="font-size: 18px;">Új felhasználónév:</label>
            <input th:field="*{username}" type="text" name="username" id="username"
                   class="d-inline mb-2 form-control" min="4" max="100" maxlength="100" style="width: min-content; text-align:center; margin: auto;">
            <input type="submit" class="btn btn-success mb-3 p-2" value="Felhasználónevem megváltoztatása"/>
          </form>
        </td>
        <td class="text-center">
          <form th:object="${user}" th:action="@{/profile/modifyMail}" method="GET">
            <label for="email" class="d-inline" style="font-size: 18px;">Új e-mail cím:</label>
            <input th:field="*{email}" type="text" id="email" name="email" class="d-inline mb-3 form-control"
                   min="4" max="100" maxlength="100" style="width: min-content; text-align:center; margin: auto;">
            <input type="submit" class="btn btn-success mb-3 p-2" value="E-mail címem megváltoztatása"/>
          </form>
        </td>
        <td>
          <form th:action="@{/profile/modifyPasswd}" method="POST" class="justify-center mt-3 ms-3">
            <label for="newpasswd" class="d-inline" style="font-size: 18px;">Új jelszó:</label>
            <input type="password" name="newpasswd" id="newpasswd"
                   class="d-inline mb-3 form-control" style="width: min-content;"
                   minlength="4" maxlength="40"
                   placeholder="Új jelszó">
            <input type="submit" class="btn btn-warning d-inline font-weight-bold mb-3 p-2" value="Jelszavam megváltoztatása">
          </form>
        </td>
        </tr>
      <tr>
        <td></td>
        <td class="text-center">
          <form th:object="${user}" th:action="@{/profile/delete}" method="GET">
            <input type="submit" class="btn btn-danger p-1" value="Fiókom törlése" onclick="confirm('Biztosan le szeretnéd tiltani a saját fiókodat?')"/>
          </form>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</body>
</html>