<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Oldal neve</title>
  <link th:href="@{/css/formstyle.css}" rel="stylesheet" />
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/assets/comp_favicon.png}" rel="icon" type="image/x-icon">
</head>
<body>
<div class="wrapper">
  <div class="logo">
    <img th:src="@{/assets/comp_favicon.png}"> <!-- reg image -->
  </div>
  <div class="text-center name mt-3">
    <a th:href="@{/register}" class="text-decoration-none display-2" style="font-size:1.5em;">Regisztráció</a>
  </div>
  <form th:action="@{/register}" th:object="${user}" class="p-3 mt-3" method="POST">
    <p th:text="${failMsg}" style="color:red;"></p>
    <p th:text="${succMsg}" style="color:green;"></p>
    <label for="email" class="ms-2">E-mail címed:</label>
    <div class="form-field d-flex align-items-center text-center">
      <input type="text" th:field="*{email}" name="email" id="email" placeholder="kiskutyus73@test.com" class="text-center" maxlength="20">
    </div>
    <label for="username" class="ms-2">Felhasználóneved:</label>
    <div class="form-field d-flex align-items-center text-center">
      <input type="text" th:field="*{username}" name="username" id="username" placeholder="kiskutyus73" class="text-center" maxlength="20">
    </div>
    <label for="password" class="ms-2">Jelszavad:</label>
    <div class="form-field d-flex align-items-center">
      <input type="password" th:field="*{password}" name="password" id="password" placeholder="almakorte" class="text-center" maxlength="20">
    </div>
    <label for="role" class="ms-2">Jogosultságod:</label>
    <div class="d-flex align-items-center px-2 py-2">
      <select th:field="*{role}" class="form-control" id="role" name="role">
        <option value="">szerepkörök</option>
        <option
                th:each="r: ${roles}"
                th:value="${r.id}"
                th:text="${r.name}">
        </option>
      </select>
    </div>
    <div class="d-flex align-items-center">
      <p>Van már fiókod? <a th:href="@{/login}">Jelentkezz be!</a></p>
    </div>
    <button class="btn mt-3">Regisztráció</button>
  </form>
</div>
</body>
</html>