<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}">Oldal neve</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/assets/comp_favicon.png}" rel="icon" type="image/x-icon">
  <script src="https://kit.fontawesome.com/3e5a359e4a.js" crossorigin="anonymous"></script>
</head>
<body>
<nav th:replace="fragments/_navbar :: navbar"></nav>
<main>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</main>
</body>
</html>