<!DOCTYPE html>
<html lang="hu"
      layout:decorate="~{layouts/layout_main}">
<head>
  <meta charset="UTF-8">
  <title>Felhasználók</title>
</head>
<body>
<div class="row my-5" layout:fragment="content">
  <div th:each="u : ${users}" th:unless="${u.role.name == 'admin'}" class="col-sm-4 col-md-4 col-lg-4">
    <div class="card mx-2" style="width: 20rem;">
      <!-- <img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title" th:text="${u.username}"></h5>
        <p class="card-text" th:text="${u.email}">E-mail cím</p>
        <div class="text-center">
        <a th:href="@{/delete/{id}(id=${u.id})}" class="btn btn-danger p-2" onclick="confirm('Biztosan szeretnéd törölni a fiókot?')">Törlés</a></div>
      </div>
    </div>
  </div>
</div>
</body>
</html>